@charset "UTF-8";

@media only screen and (max-width: 100vw){
    .navm{
        display: none;
    }
}
@media only screen and (max-width: 814px){
    #nome{
        font-size: 100px;
    }
    .nav{
        display: none;
    }
    .navm{
        display: block;
    }
}
 @media only screen and (max-width: 414px) {
    .navm{
        display: block;
    }
    #nome{
       font-size: 50px;
    }
}